@use "../abstracts/defaults" as order;
@use "@rwy/props/scss/props-breakpoint" as breakpoint;

$tokens-order-breakpoint: map-get(breakpoint.$tokens, "breakpoint");

@each $name, $value in order.$order {
  .order-#{$value} {
    order: $value;
  }
}

@each $prefix, $size in $tokens-order-breakpoint {
  @media screen and (min-width: $size) {
    @each $name, $value in order.$order {
      .order-#{$value} {
        order: $value;
      }
    }
  }
}
