---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Rwy Docs">
  <main class="grid min-h-screen place-content-center bg-slate-800">
    <div class="w-full max-w-9xl bg-emerald-500 p-8">
      <h1 class="text-9xl font-bold tracking-wide text-slate-800">Rwy.<span class="text-7xl">ui</span></h1>
    </div>
  </main>
</Layout>
